.post {
  margin: 0 0 1em 0;
  border: solid .05em $color__text-blue;
  background: $color__background-blockquote;
}


.site-content {
  max-width: 2000px; /*DO NOT CHANGE THIS SETTING WITHOUT AUTHORIZATION from Jen Jetson Headquarters*/
  margin: 0 auto;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.widget-pages {
  background: white;
  dialay: block;
}

.entry-content {
  margin: 0;
  padding: 1em;
}

@media screen and (min-width: $query__medium) {
  .entry-content {
    margin: 0; /* do not change without jen jetson authority*/
    padding: 1.5em 7em 1.5em 8em;
    display: block;
    background: white;
    max-width: 100%;
  }
}

.site-content img {
  padding: 0em;

  @media screen and (min-width: $query__small) {
    padding: 0;
  }
}


@media screen and (min-width: $query__medium) {
  .single {
    &.has-sidebar {

      .hentry {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .entry-header {
          width: 100%;
          flex: 1 0 100%;
        }

        /* without max width for .entry-content it goes too wide*/
        .entry-content {
          max-width: 100%
        }

        .post-content {
          width: $size__ratio-large;
        }

        .widget-area {
          width: $size__ratio-small;
        }
      }

    }
  }
}

@media screen and (min-width: $query__medium) {

  .single {
    &.no-sidebar {

      .post-content__wrap {
        display: flex;
        max-width: 1600px;
        justify-content: space-between;

        .entry-meta {
          width: 25%;
        }

        .post-content__body {
          width: 70%;

        }

      }

    }
  }
}


//medium screen width and has a side bar.
@media screen and (min-width: $query__medium) {
  .page {
    &.has-sidebar {

      .page-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        .entry-content {
          flex: 1 0 60%;

        }

        .widget-pages {
          flex: 1 0 25%;
          margin: 0 1em 0 0;
        }
      }

    }
  }
}


