$color__featured-image-bg:  #blue;
$color__skin: #ff581a;
$color__text-blue: #032f82;
$color__text-main: #404040;
$color__interactive: orange;
$color__interactive-light: #ffffe6;
$color__footer-background: $color__skin;
$color__footer-accents: $color__interactive;
$color__cat-links: $color__interactive;
$color__cat-link-hover:  $color__interactive;
$color__cat-link-hover-text:  white;
$color__background-blockquote: #d9d9d9;
$color__blockquote-decoration: $color__interactive;
$color__list-text-filler: $color__text-blue;
$color__menu-toggle: white;
$color__footer-text: white;
$color__main-menu-text: white;
$color__main-menu-hover: $color__skin;
$color__text-interactive: white;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #b3b3b3;
$color__background-pre: #eef0f3;
$color__background-ins: #fff9c0;

$color__text-footer: #454545;
$color__text-screen: #21759b;
$color__text-input: $color__text-blue;    
$color__text-input-focus: #111;
$color__body-link: $color__skin;
$color__link: 	white;
$color__link-visited: $color__skin;
$color__link-hover: $color__interactive;
$color__cat-links: $color__interactive;
$color__cat-link-hover:  $color__interactive;
$color__cat-link-hover-text:  white;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;