//All fonts are downloaded from goolefont api in the enqueue
$font__footer: "Open Sans", "Lucinda Grande", "Lucinda Sans Unicode", "Lucinda Sans", Geneva, Arial, sans-serif;
$font__main-menu: lato, "Lucinda Grande", "Lucinda Sans Unicode", "Lucinda Sans", Geneva, Arial, sans-serif;
$font__text-input: "Open Sans", "Lucinda Grande", "Lucinda Sans Unicode", "Lucinda Sans", Geneva, Arial, sans-serif;
$font__sans: Lato, "Lucinda Grande", "Lucinda Sans Unicode", "Lucinda Sans", Geneva, Arial, sans-serif;
$font__serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font__headings: 'Fjalla One', sans-serif;
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andasle Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__box: "Open Sans", "Lucinda Grande", "Lucinda Sans Unicode", "Lucinda Sans", Geneva, Arial, sans-serif;